@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Combi19</title>
    <link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Identity/css/site.css" />
</head>
<body style="margin-bottom:0px">
    <header>
        <nav style="background: linear-gradient(to bottom, #f86f54 0%, #ffb340 100%)" class="navbar navbar-expand-sm navbar-light navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="icono">
                    <a href="/">
                        <img src="/logo_blanco.png" width="80" />
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @{
                        var result = Engine.FindView(ViewContext, "_LoginPartial", isMainPage: false);
                    }
                    @if (result.Success)
                    {
                        await Html.RenderPartialAsync("_LoginPartial");
                    }
                    else
                    {
                        throw new InvalidOperationException("The default Identity UI layout requires a partial view '_LoginPartial' " +
                            "usually located at '/Pages/_LoginPartial' or at '/Views/Shared/_LoginPartial' to work. Based on your configuration " +
                            $"we have looked at it in the following locations: {System.Environment.NewLine}{string.Join(System.Environment.NewLine, result.SearchedLocations)}.");
                    }
                </div>
            </div>
        </nav>
    </header>

    <main role="main" style="min-height: calc(100vh - 255px);">
        @RenderBody()
    </main>
        <footer style="background: #005473">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-left">
                        <h6 class="text-muted lead">CONTACTO:</h6>
                        <h6 class="text-muted">
                            Calle 50 &, Av. 120<br>
                            La Plata, Provincia de Buenos Aires<br>
                        </h6>
                    </div>

                    <div class="col-xs-12 col-md-6 text-right">
                        <h6 class="text-muted lead">ENCUENTRANOS EN LAS REDES</h6>
                        <div class="redes-footer">
                            <a href="https://www.facebook.com/"><img class="redes" style="width:7%" src="/facebook.png"></a>
                            <a href="https://twitter.com/"><img class="redes" style="width:7%" src="/twitter.png"></a>
                            <a href="https://www.youtube.com/"><img class="redes" style="width:7%" src="/youtube.png"></a>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 text-right">
                        <p class="text-muted small"><br> Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </footer>
    <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Identity/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
