<div style="width:350px; height:700px; margin-left: 5%; margin-right:5%" class="card">
        <img src="/prevencion.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">Nuestro protocolo</h2>
            <hr />
            <ul>
                <li style="font-size:25px" class="card-text">Se le testea la temperatura coorporal a cada pasajero antes de subir al micro.</li>
                <li style="font-size:25px" class="card-text">Si un pasajero tiene fiebre, se le cancelara su pasaje y de todo su grupo haciendo el reintegro del 100%.</li>
            </ul>
        </div>
</div>