@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Cambia tu contraseña";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div tabindex="-1" style="display:block" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="justify-content:center" class="modal-header">               
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label>Contraseña actual</label>
                        <input asp-for="Input.ContraseñaVieja" class="form-control" />
                        <span asp-validation-for="Input.ContraseñaVieja" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Contraseña nueva</label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Confirmacion de contraseña</label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar contraseña</button>
                    <hr />
                    <partial name="_StatusMessage" for="StatusMessage" />
                </form>
            </div>
        </div>
    </div>
</div>

        @section Scripts {
            <partial name="_ValidationScriptsPartial" />
        }
